.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.7s;
  opacity: 0.8;
}

.scroll-top:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0.35;
  }
  100% {
    opacity: 1;
  }
}
