.title-color {
	color: var(--primary-color);
}

.boxy {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 25px;
	background: linear-gradient(157deg, #232930 0%, #262e37 64%);
	border-radius: 6px;
}

@media screen and (max-width: 750px) {
	#MuiTypography-h5 {
		font-size: 1rem;
		text-align: center;
	}
}
