.aboutus-img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.about-section {
	position: relative;
}

.about {
	background: #29323b;
	padding: 0px;
}

@media screen and (max-width: 750px) {
	.aboutus-img {
		height: 250px;
	}
	.about {
		padding: 0px;
	}
}
